@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

:root {
  --cor--princial: rgb(243, 232, 220);
  --cor--secundaria: rgb(30, 30, 94);
  --cor--terciaria: rgb(240, 248, 255);
  --cor--marron: rgb(117, 70, 53);
  --cor--linha: rgb(209, 212, 207);
}

* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.15rem;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* CABEÇALHO */
.cabecalho {
  background-color: var(--cor--princial);
}

.cabecalho__logo {
  width: auto;
  height: auto;
}

.nav-link {
  color: var(--cor--marron);
  font-size: 1.2rem;
}

.nav-link.active {
  color: var(--cor--secundaria) !important;
}

.login-form h3 {
  text-align: center;
  color: var(--cor--marron);
  font-size: 1.2rem;
}

.btn {
  color: var(--cor--marron);
  border: 1px solid var(--cor--marron);
}

.btn:hover {
  background-color: var(--cor--marron);
  color: var(--cor--terciaria);
}

.btn-cadastro {
  text-decoration: none;
  padding: 9.2px 12px;
  height: 25px;
  border-radius: 6px;
  color: var(--cor--secundaria);
  border: 1px solid var(--cor--secundaria);
  background-color: var(--cor--princial);
  font-size: 1rem;
}

.btn-cadastro:hover {
  background-color: var(--cor--secundaria);
  color: var(--cor--terciaria);
}

.icons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.icons .fas {
  font-size: 1.3rem;
  color: var(--cor--marron);
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.icons .fas:hover {
  color: var(--cor--secundaria);
  border-color: var(--cor--marron);
}

/* CORPO */
.corpo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.banner {
  width: 100vw; 
  overflow: hidden; /* evita scroll horizontal */
  margin: 0;
  padding: 0; 
}

.carousel-item img {
  width: 100vw; /* largura total da viewport */
  height: 400px;
  object-fit: cover; /* mantém proporção e preenche */
}

.carousel-caption {
  display: flex;
  position: absolute;
  /* flex-direction: column; */
  justify-content: center; 
  align-items: center; 
  color: var(--cor--terciaria);
  text-align: center;
  padding: 0 15px;
}

.carousel-caption h5 {
  font-size: 2rem;
  font-weight: bold;
}

.carousel-caption p {
  font-size: 1.2rem;
}

/* .destaque{
  display: flex;
} */

.destaque .card {
  text-align: center;
  width: 18rem;
}

.destaque .card .card-body{
  background-color: var(--cor--princial);
}

.card-body .card-text{
  font-weight: bold;
  color: var(--cor--marron);
}

.itens_comprados{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.itens_comprados h5{
  font-weight: 1.8rem;
  text-align: center;
  color: var(--cor--marron);
  font-weight: bold;
}

.itens_comprados span{
  font-weight: 1.9rem;
  text-align: center;
  color: var(--cor--secundaria);
  font-weight: bold;
}

.itens_comprados .card{
  margin-top: 10px;
}

.sobre{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 15px;
}

.sobre .container{
  padding: 10px 15px 15px 15px;
  background-color: var(--cor--terciaria);
  border-radius: 8px;
}

.sobre h5{
  font-weight: 1.8rem;
  text-align: center;
  color: var(--cor--marron);
  font-weight: bold;
}

.sobre span{
  font-weight: 1.9rem;
  text-align: center;
  color: var(--cor--secundaria);
  font-weight: bold;
}

.sobre p{
  margin-top: 20px;
  text-align: justify;
}

/* RODAPÉ */
.rodape {
  margin-top: auto;
  background-color: var(--cor--princial);
  color: var(--cor-texto);
}

.cima {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 24px 0;
}

.cima .box {
  margin-top: 3px;
  max-width: 320px;
  min-width: 200px;
  text-align: center;
}

.rodape h3 {
  font-size: 1.2rem;
  color: var(--cor--marron);
  font-weight: bold;
}

.rodape p,
a {
  font-size: 0.9rem;
  color: var(--cor--marron);
}

.rodape__rede a {
  border-radius: 10%;
  border: 0.1rem solid var(--cor--marron);
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  font-size: 0.8rem;
  margin-right: 0.3rem;
  text-decoration: none;
}

.rodape__rede a:hover {
  background-color: var(--cor--marron);
  color: var(--cor--terciaria);
  border-color: var(--cor--marron);
}

.rodape .link {
  text-decoration: none;
  font-weight: bold;
}

.rodape .link:hover {
  color: var(--cor--secundaria);
}

.rodape .linha {
  border: 1px solid var(--cor--linha);
}

.rodape .baixo {
  display: flex;
  margin-top: 8px;
  justify-content: center;
  align-items: center;
  color: var(--cor--marron);
}

.rodape span {
  font-size: 0.9rem;
  color: var(--cor--secundaria);
  font-weight: bold;
}

/* Media Queries */
@media (max-width: 974px) {
  .cabecalho__logo {
    width: 4.5rem;
  }

  .navbar-nav,
  .form-control {
    font-size: 0.8rem;
    width: 100%;
  }

  .nav-link,
  .login-form h3,
  .btn,
  .btn-cadastro {
    font-size: 0.8rem;
  }

  .rodape h3 {
    font-size: 0.8rem;
  }

  .rodape p,
  .rodape span,
  .rodape a {
    font-size: 0.67rem;
  }
}

/* Responsivo: empilha as boxes em telas pequenas */
/* @media (max-width: 768px) {
  .cima {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .cima .box {
    max-width: 100%;
    width: 100%;
  }
} */
